*{
    padding: 20;
    margin: 0;
}

#game{
    background-color:rgb(245, 193, 115);
    border: 2px solid rebeccapurple;
    width: 100%;
    height: 200px;
}

#character{
    width: 20px;
    height: 50px;
    border: 2px solid black;
    background-color: blue;
    position: relative;
    top: 150px;
}

.playAnimation{
    animation: jump 500ms;
}

#triggerScore{
    width: 5px;
    height: 10px;
    position: relative;
    top: 110px;
    left: 4px;
    background-color: green;

}

.obstacle{
    width: 18px;
    height: 18px;
    position: relative;
    top: 130px;
    left: 100%;
    height: 50px;
    border: 2px solid black;
    background-color: brown;
    display: inline-block;
}

#obstacle-container{
    width: flex;
    top: 130px;
    height: 18px;
    background-color: azure;
}

@keyframes jump{
     0%{top: 150px;}
     40%{top: 100px;}
     60%{top: 100px;}
     100%{top: 150px;}
}